.container{
    padding: 0 1.5rem;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.section{
    padding-block: 5rem 1rem;
}

.section-title,
.section-subtitle{
    text-align: center;
}

.section-title{
    font-size: $h1-font-size;
    font-weight: $font-bold;
    margin-bottom: 1.5rem;
}

.section-subtitle{
    display: block;
    font-size: $normal-font-size;
    font-weight: $font-semi-bold;
    color: $second-color;
    margin-bottom: .5rem;
}

.main{
    overflow: hidden;
}

.button{
    display: inline-flex;
    color: $white-color;
    background: $first-gradient;
    font-weight: $font-semi-bold;
    padding: 1rem 2rem;
    transition: box-shadow .4s;
}
.button:hover{
    box-shadow: 0 8px 50px hsla(18, 95%, 55%, .3);
    color: $white-color;
}
.button-link{
    display: flex;
    align-items: center;
    column-gap: .25rem;
    color: $first-color;
    span{
        font-weight: $font-semi-bold;
    }
    i{
        font-size: 1.5rem;
        transition: transform .4s;
    }
}
.button-link:hover i{
    transform: translateX(.25rem);
}
